ENVIRONMENT='development'
DEBUG=True
DJANGO_SECRET_KEY='hashed-key-here$%#!'
DJANGO_LOGLEVEL=info
DJANGO_ALLOWED_HOSTS=.example.net,127.0.0.1

DATABASE_ENGINE='mysql'
DATABASE_USERNAME='user'
DATABASE_PASSWORD='password'
DATABASE_ROOT_PASSWORD='rootpassword'
DATABASE_NAME='name'
DATABASE_HOST='127.0.0.1'
DATABASE_PORT='3306'
