ENVIRONMENT='prod'
DEBUG=False
DJANGO_SECRET_KEY='secret$hash&key1@'
DJANGO_LOGLEVEL=info
DJANGO_ALLOWED_HOSTS=.example.net,127.0.0.1

DATABASE_ENGINE='mysql'
DATABASE_USERNAME='user'
DATABASE_PASSWORD='Abc123'
DATABASE_ROOT_PASSWORD='Abc123'
DATABASE_NAME='name'
DATABASE_HOST='127.0.0.1'
DATABASE_PORT='3306’
