# Python builds and binaries
dist
build
*.egg
*.egg-info
*.py[cdo]
*.so
*.pyc

.env

AriSite.sql
sftp-config.json
media/
venv/
shows/static/shows/img/fart/
static/shows/img/bart/
static/shows/img/fart/
shows/static/shows/img/bart/
static/sitepages/img/Mathew-qr.jpg
static/sitepages/img/Stella-qr.jpg
static/sitepages/img/mat-qr.svg
static/sitepages/img/stella-qr.svg
*.sublime*
