# Python builds and binaries
dist
build
*.egg
*.egg-info
*.py[cdo]
*.so
*.pyc

AriSite.sql
sftp-config.json
websitedj/settings.py
media/
venv/
shows/static/shows/img/fart/
static/shows/img/bart/
static/shows/img/fart/
shows/static/shows/img/bart/
*.sublime*
