{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'shows/css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
{% endblock %}
{% block content %}
<br><h1>{% if data.title %}Editing {{ data.title|title }}{% else %}Add a new media release{% endif %}</h1>
{% if form.errors or error %}
<div class="alert alert-danger" role="alert"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Error:<br>{{ form.errors }}
{% if error %}<br>{{ error }}{% endif %}</div>
{% endif %}
<br>
{% if data.seotitle %}
<form action="{% url 'shows:managemovie' data.seotitle %}" method="post" enctype="multipart/form-data">
{% else %}
<form action="{% url 'shows:managemovie' %}" method="post" enctype="multipart/form-data">
{% endif %}
{% csrf_token %}
{% for field in form %}
    {% if field.name == 'typ' %}
        <h4><i class="fa fa-{{ field.label }} fa-fw" aria-hidden="true"></i> {{ field.help_text }}</h4>
        <div class="form-inline">
        {% for choice in field %}
            <label class="custom-control custom-radio {{ choice.choice_label|lower }}">
                {{ choice.tag }}            
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{ choice.choice_label|safe }}</span>
            </label>
        {% endfor %}
        </div>
    {% else %}
        <div class="input-group">
            <label for="{{ field.auto_id }}" class="input-group-addon" title="{{ field.help_text }}"><i class="fa fa-{{ field.label }} fa-fw" aria-hidden="true"></i></label>
            {% if field.name == 'banner' and form.banner %}<span class="form-control" style="display:inline">{% endif %}
            {{ field }}
            {% if field.name == 'banner' %}</span>{% endif %}
        </div>
    {% endif %}
<br>
{% endfor %}
<br><br>
<button class="btn btn-primary" type="submit" name="savecontinue"><i class="fa fa-floppy-o" aria-hidden="true"></i> {% if data.title %}Save{% else %}Add{% endif %} and continue editing</button> <button class="btn btn-primary" type="submit" name="save"><i class="fa fa-floppy-o" aria-hidden="true"></i> {% if data.title %}Save{% else %}Add{% endif %}</button>
{% if data.seotitle %}<button class="btn btn-danger" type="submit" name="deletemovie"><i class="fa fa-times" aria-hidden="true"></i> Delete</button>
{% endif %}

</form>
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0/js/bootstrap-datepicker.min.js"></script>
<script>
$(document).ready(function(){
$('#id_datestr').datepicker({ 
    format: 'dd/mm/yyyy'
    });
});
$('#id_seotitle').on("keyup",function(){seoInput($(this))});

$('#id_seotitle').on("focus",function(){
    if($(this).val().length < 1){
        $(this).val=$('#id_title').val().toLowerCase();
        $(this).val(function(i, v) {return $('#id_title').val().toLowerCase();});
        seoInput($(this))
    }
});
function seoInput(Obj)
{
    Obj.val(function(i, v) {return v.replace(/\s/ig,'-');});
    Obj.val(function(i, v) {return v.replace(/[^a-z0-9\-]/i,'');});
}
</script>
{% endblock %}