{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'sitepages/css/style.css' %}">
{% endblock %}
{% block content %}
<div class="contact-title">{{ contact.fullName }}</div>

<div class="contact-field">
  <div class="contact-field__title">phone</div>
  <div class="contact-field__data"><a href="tel:{{ contact.phone }}">{{ contact.phone }}</a></div>
</div>

<div class="contact-field">
  <div class="contact-field__title">email</div>
  <div class="contact-field__data"><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></div>
</div>

<div class="contact-field">
  <div class="contact-field__title">address</div>
  <div class="contact-field__data">{{ contact.fullAddress|safe }}</div>
</div>

<br>
{{ qrcode|safe }}
{% endblock %}
