{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'sitepages/css/style.css' %}">
{% endblock %}
{% block content %}
<div class="contact-title">{{ contact.fullName }}</div>

<div class="contact-field">
  <div class="contact-field__title">Email</div>
  <div class="contact-field__data"><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></div>
</div>

<div class="contact-field">
  <div class="contact-field__title">Name</div>
  <div class="contact-field__data"><a href="tel:{{ contact.phone }}">{{ contact.phone }}</a></div>
</div>

<div class="contact-field">
  <div class="contact-field__title">Address</div>
  <div class="contact-field__data">{{ contact.fullAddress|safe }}</div>
</div>

<br>
<img src="{% static 'sitepages/img/' %}{{ contact.firstName }}-qr.jpg" alt="" class="qr-image" />
{% endblock %}
